{% extends 'adminBase.html.twig' %}

{% block title %}PoI Type Index{% endblock %}

{% block body %}

    <h4>Point of Interest Type List</h4><br>

    
    {% for pOI_TYPE in pOI_TYPEs %}
        <label>Entrance:</label> {{ pOI_TYPE.type }}<br>
        <div>
            <a href="{{ path('admin_poi_type_edit', { 'id': pOI_TYPE.id }) }}">Edit</a>
        </div><br>
    {% endfor %}

     <div>
         <ul>
            <li>
                <a href="{{ path('admin_poi_type_new') }}">Create New Entry</a>
            </li>
        </ul>
    </div>
{% endblock %}
