{% extends 'adminBase.html.twig' %}

{% block body %}
    <h1>Point of Interest Type Creation</h1>

    {{ form_start(form) }}
        {{ form_widget(form) }}
        <input type="submit" value="Create" />
    {{ form_end(form) }}

    <ul>
        <li>
            <a href="{{ path('admin_poi_type_index') }}">Back to the list</a>
        </li>
    </ul>
{% endblock %}
