{% extends 'adminBase.html.twig' %}

{% block body %}  
    <h1>Locations List</h1><br>

    
    {% for location in locations %}
        <label>Latitude:</label> {{ location.latitude }}<br>
        <label>Longitude:</label> {{ location.longitude }}<br>
        <div>
            <a href="{{ path('location_edit', { 'id': location.id }) }}">Edit</a>
        </div><br>
    {% endfor %}

     <div><br>
         <ul>
            <li>
                <a href="{{ path('location_new') }}">Create New Entry</a>
            </li>
        </ul>
    </div>
{% endblock %}
