{% extends 'base.html.twig' %}

{% block body %}
    <h1>Comment Pending</h1>

    Thank you for submitting your comment.  It is marked as pending and after review will appear on the website.

{% endblock %}
