{% extends 'adminBase.html.twig' %}

{% block title %}Announcement Index{% endblock %}

{% block body %}
    
    <h4>Announcements List</h4><br>
    
    {% for announcement in announcements %}
        <label>Message: </label> {{ announcement.message }}<br>
        <label>Current?: </label> {% if announcement.isCurrent %}Yes{% else %}No{% endif %}
        <div>
            <a href="{{ path('announcement_edit', { 'id': announcement.id }) }}">Edit</a>
        </div><br>
    {% endfor %}
    <ul>
        <li>
            <a href="{{ path('announcement_new') }}">Create New Entry</a>
        </li>
    </ul>
    
{% endblock %}