{% extends 'adminBase.html.twig' %}

{% block body %}
    
    
    <h1>Announcements List</h1>
    <br><br>

    
    
    {% for announcement in announcements %}
    <label>Message: </label> {{ announcement.message }}<br>
    <label>Current?: </label> {% if announcement.isCurrent %}Yes{% else %}No{% endif %}
    <div>
        <a href="{{ path('announcement_edit', { 'id': announcement.id }) }}">Edit</a>
    </div>
    <br>
    {% endfor %}
    <ul>
        <li>
            <a href="{{ path('announcement_new') }}">Create New Entry</a>
        </li>
    </ul>
{% endblock %}