{% extends 'base.html.twig' %}

{% block title %}Front Comment Index{% endblock %}

{% block body %}
    <h1>Comment list</h1><br>
        
    {% for comment in comments %}
        <label>Message:</label> {{ comment.message }}<br>
        <label>Image:</label> {{ comment.image }}<br>
        <label>Trail:</label> {{ comment.trail }}<br>
    {% endfor %}
{% endblock %}
